/* un-table everything :D */
:root[reviewing] .attachment_info,
:root[reviewing] .attachment_info > tbody,
:root[reviewing] .attachment_info > tbody > tr,
:root[reviewing] .attachment_info > tbody > tr > td {
  display: block;
  width: 100%;
}

:root:not([reviewing]) #reviewFrame,
:root[reviewing] .attachment_info > tbody > tr > td:last-of-type {
  /* display: none; */
  display: block !important;
}

#reviewFrame .file_table {
  width: 100%;
  border-spacing: 0;
}

#reviewFrame .file_table > thead > tr {
  /* file name */
  outline: 1px solid black;
  background: rgba(0, 0, 0, 0.1);
}

#reviewFrame .file_table > tbody.file .section_head > table {
  width: 100%;
}

#reviewFrame .file_table > tbody.file > tr:hover {
  outline: 1px solid rgba(0, 0, 0, 0.25);
}

#reviewFrame .file_table > tbody.file > tr > td {
  padding: 1px 2px;
}

#reviewFrame pre {
  margin: 0;
}

#reviewFrame pre::before {
  color: rgba(255, 0, 255, 0.5);
  content: attr(line_number);
}

#reviewFrame pre:empty {
  min-height: 1.2em;
}


#reviewFrame .added pre {
  background: rgba(192, 255, 192, 0.75);
}

#reviewFrame .removed pre {
  background: rgba(255, 192, 192, 0.75);
}

#reviewFrame .changed pre {
  background: rgba(192, 192, 255, 0.75);
}

#reviewFrame #reviewEditor {
  width: 100%;
  height: 20em;
}

#reviewFrame .comment {
  font-family: monospace;
}
